*{
    font-family: 'Ubuntu', sans-serif;
}
#container{
    width: 1030px;
    height: 1100px;
    margin:20px auto;
    border: 2px solid black;
}

            /* HEADER-CONTENT */
header{
    border-bottom: 1px solid black;
    background-image: url('img/pattern.png');
    background-color: rgb(68, 142, 211);
    background-attachment: fixed;
}
#img_logo{
    width: 200px;
    padding: 50px 20px 10px 20px;
}
           /* MAIN-CONTENT */
main{
    padding-left: 10px;
}
.title{
   padding-bottom: 30px; 
}
h1{
    font-size: 45px;
    margin-bottom: 0;
}
h4{
    color: lightgray;
    margin: 0;
}
.boolean{
    color: rgb(48, 193, 250);
}