*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: black;
}
#container{
    width: 1030px;
    margin:20px auto;
    border: 2px solid black;
    font-weight: bold;
    background-color: white;
}

            /* HEADER-CONTENT */
header{
    border-bottom: 1px solid black;
    background-image: url('img/pattern.png');
    background-color: rgb(68, 142, 211);
    background-attachment: fixed;
}
#img_logo{
    width: 200px;
    padding: 50px 20px 10px 20px;
}
           /* MAIN-CONTENT */
main{
    padding-left: 10px;
}
.title{
   padding-bottom: 30px; 
}
h1{
    font-size: 45px;
    margin-bottom: 0;
}
h4{
    color: lightgray;
    margin: 0;
}
.boolean{
    color: rgb(48, 193, 250);
}
        /* PARAGRAFO */
.underline{
    background-color: rgb(240, 240, 118);
}
         /* TABLE */
table, th, td{
    border-collapse: collapse;
}
.table{
    width: 100%;
    text-align: left;
}
.tr{
    height: 60px;
    background-color: rgb(128, 219, 255);
}
.color_tr{
    background-color: rgb(14, 148, 189);
    color: white;
}
.td_width{
    width: 50%;
}
     /* FOOTER */
footer{
    padding-left: 10px;
    color: gray;
}
.monitor{
    background-image: url('img/monitor.jpg');
    width: 310px;
    height: 210px;
    text-align: center;
    color: white;
}
.graph{
    background-image: url('img/graph.jpg');
    width: 310px;
    height: 210px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}