*{
    font-family: 'Ubuntu', sans-serif;
}
#container{
    width: 1030px;
    height: 1300px;
    margin:20px auto;
    border: 2px solid black;
}

            /* HEADER-CONTENT */
header{
    border-bottom: 1px solid black;
    background-image: url('img/pattern.png');
    background-color: rgb(68, 142, 211);
    background-attachment: fixed;
}
#img_logo{
    width: 200px;
    padding: 50px 20px 10px 20px;
}
           /* MAIN-CONTENT */
main{
    padding-left: 10px;
}
.title{
   padding-bottom: 30px; 
}
h1{
    font-size: 45px;
    margin-bottom: 0;
}
h4{
    color: lightgray;
    margin: 0;
}
.boolean{
    color: rgb(48, 193, 250);
}
.paragraph  {
    font-weight: bold;
}
         /* TABLE */
table, th, td{
    /* border-collapse: collapse; */
}
.table{
    width: 100%;
    text-align: left;
}
.tr{
    height: 60px;
    background-color: rgb(128, 219, 255);
    font-weight: bold;
}
.color_tr{
    background-color: rgb(14, 148, 189);
    color: white;
}
.td_width{
    width: 50%;
}
.tr_white{
    font-weight: bold;
}